#AVIMControl,
#mudimPanel {
  display: none;
}

#viet_typing-holder-auto,
#viet_typing-holder-telex,
#viet_typing-holder-vni,
#viet_typing-holder-viqr,
#viet_typing-holder-off,
#viet_typing-holder-oldrules {
  display: inline-block;
}

input[name=vim-method],
#vim-oldrules {
  float: left;
  margin-right: .1em;
}

input[name=vim-method] + label,
#vim-oldrules + label {
  float: left;
  margin: .5em 1em .5em 0;
  line-height: .9em;
}

